body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.container {
    margin-top: 50px;
}


button:hover {
    background-color: #0056b3;
    width: 200px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 0; /* Supprime la marge du paragraphe interne */
    margin-top: 10px;
}

/* Style pour les boutons à l'intérieur de la carte */
.card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}
